<div class="statusbar">
    <div class="filename">{{fileName}}</div>
    <div class="filesize">{{fileSize}}</div>
    <div class="progressBar">
        <div style="width: 198px;" class="progress">0% </div>
    </div>
    <div class="abort">Abort</div>
</div>